.wrapper {
	display: flex;
	justify-content: center;
	background-color: #f8fefd;
	height: 100vh;
}
.wrapperReg {
	display: flex;
	justify-content: center;
	background-color: #f8fefd;
	height: 100vh;
}
.childrenWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/* tablet */
@media (min-width: 320px) {
	.wrapper {
		background: url(./img/bg-login-tablet.jpg);
	}
	.wrapperReg {
		background: url(./img/bg-register-tablet.jpg);
	}
}

/* Desktop */
@media (min-width: 768px) {
	.wrapper {
		background: #f8fefd;
		justify-content: start;
		height: 100%;
	}
	.wrapperReg {
		background: #f8fefd;
		justify-content: start;
		height: 100%;
	}
	.sideBlock {
		height: 850px;
		width: 510px;
		background: url(./img/Wallet-login-desktop.jpg) center no-repeat;
	}
	.sideBlockReg {
		height: 850px;
		width: 510px;
		background: url(./img/Wallet-registration-desktop.jpg) center no-repeat;
	}
}
